<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
    <a href="{{url_for('inicio') }}">Inicio</a>
    <a href="{{url_for('contacto') }}">Contacto</a>
<body><h1>"Contacto"</h1>
<h1>Contacto</h1>

<h2> Celular:0981268885</h2>
<h3> Email:gj.iranzo@gmail.com</h3>
    <!--Challenge.
    Cambiar el titulo del documnento creado Contaco
crear un titulo h1 dentro del body, con el texto "Contacto"-->


</body>
</html>